.content{
    padding-top:10px;
}
.row{
    display: flex;
    
    margin: 10px;

}
.row mat-form-field{
    width: 50%;
}
;
.action{
    padding: 0px 25px 23px;
    margin:4px;
}
.action button {
    flex:1;
}
 